<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/xuly" method="post">
      <input type="text" name="name"/>
      <button type="submit" name="button">SEND</button>
    </form>
  </body>
</html>
