<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/xulydangky" method="post" enctype="multipart/form-data">
      <h1>Form dang ky</h1>
      <input type="text" name="name"/><br><br>
      <input type="file" name="avatar" value=""><br><br>
      <button type="submit" name="button">SEND</button>
    </form>

    <form action="/xulydangtin" method="post" enctype="multipart/form-data">
      <h1>Form dang tin</h1>
      <input type="text" name="name"/><br><br>
      <input type="file" name="hinhsanpham" value=""><br><br>
      <button type="submit" name="button">SEND</button>
    </form>

    <form action="/xuly" method="post" enctype="multipart/form-data">
      <h1>Form dang tin</h1>
      <input type="text" name="name"/><br><br>
      <input type="file" name="hinhsanpham" value=""><br><br>
      <input type="file" name="hinhsanpham" value=""><br><br>
      <button type="submit" name="button">SEND</button>
    </form>
  </body>
</html>
